<body>
  <div class="sidebar" [class.active]="isSidebarVisible">
    <!-- profile image -->
    <div class="profile">
      <div class="profile-img">
        <img *ngIf="registerData.avatar" [src]="registerData.avatar" alt="Profile Image" />
      </div>
      <div class="name">
        <h1>{{ registerData.username }}</h1>
        <img *ngIf="registerData.avatar" [src]="registerData.avatar" alt="Avatar Image" />
      </div>
      <!-- <span>Lipa</span> -->
    </div>
    <!-- about -->
    <div class="about">
      <!-- box 1 -->
      <div class="box">
        <h3>54</h3>
        <span>Posts1</span>
      </div>
      <!-- box 2 -->
      <div class="box">
        <h3>14.4k</h3>
        <span>Followers</span>
      </div>
      <!-- box 3 -->
      <div class="box">
        <h3>14</h3>
        <span>Following</span>
      </div>
    </div>

    <!-- menù -->
    <div class="menu">
      <a href="" class="active">
        <span class="icon">
          <i class="bi bi-arrows-fullscreen"></i>
        </span>
        Feed
      </a>
      <a href="">
        <span class="icon">
          <i class="bi bi-search"></i>
        </span>
        Notification
      </a>
      <a href="">
        <span class="icon">
          <i class="bi bi-search"></i>
        </span>
        Messages
      </a>
      <a href="">
        <span class="icon">
          <i class="bi bi-search"></i>
        </span>
        Direct
      </a>
      <a href="">
        <span class="icon">
          <i class="bi bi-search"></i>
        </span>
        Stats
      </a>
      <a href="">
        <span class="icon">
          <i class="bi bi-search"></i>
        </span>
        Stats
      </a>
      <a href="">
        <span class="icon">
          <i class="bi bi-search"></i>
        </span>
        Setting
      </a>
    </div>
  </div>
  <!-- main -->
  <div class="main-home">
    <!-- header -->
    <div class="header">
      <!-- search -->
      <div class="search">
        <i class="bi bi-search"></i>
        <input type="text" placeholder="Search" />
      </div>
      <!-- header-content -->
      <div class="header-content">
        <i class="bi bi-bell-fill"></i>
        <i class="bi bi-chat"></i>
        <!-- button add post-->
        <button class="btn" (click)="togglePostForm()">
          <i class="bi bi-plus-square-fill"></i>
          <div class="btn-text">Add Post</div>
        </button>
      </div>
    </div>

    <!-- stories -->
    <div class="stories-title">
      <h1>Stories</h1>
      <a href="" class="btn">
        <i class="bi bi-circle"></i>
        <div class="text">Watch All</div>
      </a>
    </div>

    <!-- stories Content-->
    <div class="stories">
      <!-- stories 1-->
      <div class="stories-img color">
        <img src="/assets/profilePic/yl.jpg" alt="" />
        <div class="add">+</div>
      </div>
      <!-- stories 2-->
      <div class="stories-img color">
        <img src="/assets/profilePic/yl.jpg" alt="" />
      </div>
      <!-- stories 3-->
      <div class="stories-img color">
        <img src="/assets/profilePic/yl.jpg" alt="" />
      </div>
      <!-- stories 4-->
      <div class="stories-img color">
        <img src="/assets/profilePic/yl.jpg" alt="" />
      </div>
      <!-- stories 5-->
      <div class="stories-img color">
        <img src="/assets/profilePic/yl.jpg" alt="" />
      </div>
      <!-- stories 6-->
      <div class="stories-img color">
        <img src="/assets/profilePic/yl.jpg" alt="" />
      </div>
      <!-- stories 7-->
      <div class="stories-img color">
        <img src="/assets/profilePic/yl.jpg" alt="" />
      </div>
      <!-- stories 8-->
      <div class="stories-img color">
        <img src="/assets/profilePic/yl.jpg" alt="" />
      </div>
      <!-- stories 9-->
      <div class="stories-img color">
        <img src="/assets/profilePic/yl.jpg" alt="" />
      </div>
      <!-- stories 10-->
      <div class="stories-img color">
        <img src="/assets/profilePic/yl.jpg" alt="" />
      </div>
    </div>

    <!-- MAIN POSTS -->
    <div class="feed">
      <h1>Feed</h1>
      <div class="feed-text">
        <h2>Latest</h2>
        <span>Popular</span>
      </div>
    </div>

    <!-- posts -->
    <!-- Itera sui post e mostra ciascun post in una card -->

  <div class="row mt-4">
    <div *ngFor="let post of posts" class="col-md-4 mb-4 ">
      <div>
        <img *ngIf="post.image" [src]="post.image" class="card-img-top" alt="Post Image">
        <div class="card-body my-1">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <p class="card-text"><small class="text-muted">Created: {{ post.createdAt | date:'medium' }}</small></p>
        </div>
      </div>
    </div>
  </div>


<!-- perosnal post -->
<app-posts *ngIf="isPostFormVisible"></app-posts>
    <!-- icona x per siderbar show in smaprthpone -->
  </div>
  <div class="menu-icon" (click)="toggleSidebar()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="35"
      fill="currentColor"
      class="bi bi-x-lg"
      viewBox="0 0 16 16"
    >
      <path
        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
      />
    </svg>
  </div>
</body>
