* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
}

:root {
  --gradient: linear-gradient(to right, #e2336b, #fcac46);
}

.sidebar {
  background: rgb(191, 222, 234);
  position: fixed;
  width: 300px;
  height: 100vh;
  padding: 20px;
  z-index: 2;
  transition: transform 0.3s ease;
  margin-top: 90px;
}

.main-home {
  position: absolute;
  width: calc(100% - 300px);
  top: 0;
  left: 300px;
  border-radius: 1rem 0 0 1rem;
  z-index: -1000;
  min-height: 100vh;
}

.menu-icon {
  display: none;
  font-size: 150px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 3;
  color: red;
}

@media screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .main-home {
    width: 100%;
    left: 0;

  }

  .menu-icon {
    display: block;
  }

  .sidebar.active {
    transform: translateX(0);
    width: 100%;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 1.4rem;
}
.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #e2336b;
}

.profile-img img {
  width: 79px;
  height: 79px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.name {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0.4rem;
}
.name h1 {
  font-size: 1.1rem;
}
.name img {
  margin-left: 4px;
  width: 20px;
  object-fit: contain;
}
.profile-img span {
  font-size: 0.938rem;
  font-weight: 400;
}
.about {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.box {
  text-align: center;
  h3 {
    font-size: 1rem;
    font-weight: 500;
  }
  span {
    font-size: 0.938rem;
    font-weight: 400;
  }
}

// menù

.menu a {
  width: 100%;
  font-size: 1rem;
  color: black;
  display: flex;
  align-items: center;
  line-height: 40px;
}
.menu a:hover,
.menu .active {
  color: #e2336b;
}
.menu .icon {
  margin-right: 1rem;
  font-size: 20px;
}
.menu a:hover::before,
.menu .active::before {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 17px;
  background: #e2336b;
}
//main-home

.main-home{
  margin-top: 130px;
  padding: 20px;
  overflow: hidden;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search{
  display: flex;
  align-items: center;
  width: 200px;
  height: 2.4rem;
  padding: 10px;
  border-radius: 10px;
  input{
    border: none;
    outline: none;
    background: transparent;
    margin-left: 7px;
  }
}

  //header content
.header-content{
  display: flex;
  align-items: center;
  i{
    color: black;
    margin-left: 1rem;
    font-size: 20px;
  }
  .btn{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background:linear-gradient(to right, #e2336b, #fcac46);
    margin-left: 1rem;
    i{
      color: hsla(0, 0%, 100%, 0.6);
      margin-right: 10px;
    }
  }
  .btn-text{
    color: white;
    font-weight: 500;
  }
}
// stories

.stories-title{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  h1{
    font-size: 1.8rem;
  }
  .btn{
    display: flex;
    align-items: center;
    color: black;
    i{
      font-size: 24px;
      margin-right: 10px;
    }
  }
}
.stories{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 2rem;
}
.stories-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #e2336b;
}

.stories-img img {
  width: 76px;
  height: 76px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
.stories-img .color{
  border: 2px solid #dbdbdb;
}
.stories-img .add{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  color: #fff;
  background: hsla(246, 100%, 67%, 0.7);
}

// MAIN POST
.feed{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  h1{
    font-size: 1.7rem;
    font-weight: 700;
  }
}

.feed-text{
  display: flex;
  align-items: center;
  h2{
    font-size: 1.4rem;
    margin-right: 1rem;
    font-weight: 700;
  }
}
.main-posts{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 11px;
}
/* Stile per il contenitore dei post */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra gli elementi orizzontalmente */
  margin-top: 4rem; /* Spazio superiore tra l'header e i post */
}

/* Stile per la card dei post */
.card {
  width: 300px; /* Larghezza fissa per le cards dei post */
  background-color: #ffffff; /* Colore di sfondo bianco per la card */
  border-radius: 10px; /* Bordi arrotondati */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra leggera */
  transition: transform 0.3s ease; /* Transizione animata */
  margin: 0 1rem 2rem; /* Margine intorno alle cards */
}

.card:hover {
  transform: translateY(-5px); /* Effetto di alzamento su hover */
}

/* Stile per l'immagine della card */
.card-img-top {
  height: 300px; /* Altezza dell'immagine della card */
  width: 300px; /* Larghezza al 100% della card */
  object-fit: cover; /* Immagine coperta per riempire lo spazio */
  border-top-left-radius: 10px; /* Arrotondamento bordi superiori */
  border-top-right-radius: 10px;
}

/* Stile per il contenuto della card */
.card-body {
  padding: 1rem; /* Padding interno del corpo della card */
}

/* Media query per rendere le cards responsive */
@media (max-width: 768px) {
  .row {
    margin-top: 2rem; /* Riduce lo spazio superiore sui dispositivi più piccoli */
  }

  .col-md-4 {
    flex: 0 0 100%; /* Larghezza del 100% su schermi di larghezza <= 768px */
    max-width: 100%; /* Larghezza massima del 100% */
  }

  .card {
    width: calc(100% - 2rem); /* Larghezza calcolata per adattarsi allo spazio disponibile */
    margin: 0 auto 2rem; /* Margine aggiustato per centrare le cards */
  }
}
/* Media query per schermi tra 767px e 1291px */
@media (max-width: 1291px) and (min-width: 767px) {
  .row {
    justify-content: space-between; /* Spaziatura uniforme tra le cards */
    flex-wrap: wrap; /* Wrap delle cards quando lo spazio è insufficiente */
  }

  .col-md-4 {
    flex: 0 0 calc(50% - 1rem); /* Larghezza delle colonne al 50% dello spazio disponibile */
    max-width: calc(50% - 1rem); /* Larghezza massima delle colonne */
    margin-bottom: 2rem; /* Margine inferiore per separare le cards */
  }
}

/* Media query per schermi inferiori a 930px */
@media (max-width: 930px) {
  .col-md-4 {
    flex: 0 0 100%; /* Occupa l'intera larghezza disponibile */
    max-width: 100%; /* Larghezza massima del 100% */
    margin-bottom: 2rem; /* Margine inferiore per separare le cards */
    text-align: center; /* Centratura del contenuto */
  }
}
.stories {
  display: flex; /* Imposta il contenitore .stories come flex container */
}

.stories-img {
  margin-right: 10px; /* Aggiunge spazio tra le immagini */
}
