/* You can add global styles to this file, and also import other style files */
// styles.scss

:root {
  --primary-color: #6ba3de; /* Sostituisci con il tuo colore principale */
  --accent-color: #28a745; /* Sostituisci con il tuo colore di accentuazione */
}

body{
  background-color: #27c3ef !important;
}
