body{
  margin-top: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.your{
  color: black;
  font-size: 20px;
}
.choose{
  text-align: center;

}
.card{
  border:2px solid black;
}
/* Aggiungi questo stile al tuo file .scss per l'effetto di zoom su hover */
.zoom-on-hover {
  transition: transform 0.3s; /* Aggiungi una transizione per un effetto più fluido */
}

.zoom-on-hover:hover {
  transform: scale(1.05); /* Scala la card del 5% su hover */
}
