<body>
  <div class="container-fluid text-white">
    <div class="row">
      <div class="d-none d-sm-block col-sm-3 bg-black ps-3">
        <div class="sticky-top z-3 bg-black">
          <i class="bi bi-three-dots"></i>
          <div class="d-flex flex-column gap-2 mt-1">
            <a href="#" class="nav-link active"
              ><i class="bi bi-house-door-fill me-3 fs-5"></i>Home</a
            >
            <a href="#" class="nav-link"
              ><i class="bi bi-search me-3 fs-5"></i>Cerca</a
            >
            <a href="#" class="nav-link"
              ><i class="bi bi-collection me-3 fs-5"></i>La tua libreria</a
            >
          </div>
          <div
            class="d-flex flex-column gap-2 mt-4 pb-3 border-bottom border-secondary"
          >
            <a href="#" class="nav-link"
              ><i class="bi bi-plus-square me-3 fs-5"></i>Crea Playlist</a
            >
            <a href="#" class="nav-link"
              ><i class="bi bi-search me-3 fs-5"></i>Brani che ti piacciono</a
            >
            <a href="#" class="nav-link"
              ><i class="bi bi-collection me-3 fs-5"></i>I tuoi episodi</a
            >
          </div>
        </div>
        <div class="mt-2 overflow-y-scroll left-bar">
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
          <a href="" class="nav-link">rickroll</a>
        </div>
      </div>

      <div class="col-12 col-sm-7 central-part">
        <h1 class="titolo">
          Welcome, enjoy your stay and listen to your favorite music.
        </h1>
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <i class="bi bi-chevron-left text-dark"></i>
            <i class="bi bi-chevron-right text-dark"></i>
          </div>
        </div>
        <!-- artist -->
        <div *ngIf="showArtists" class="row">
          <div
            class="col-md-6 col-lg-4 mb-4"
            *ngFor="let artist of artists"
            (click)="selectArtist(artist)"
          >
            <div class="card">
              <img
                class="card-img-top"
                [src]="artist.pictureBig"
                alt="{{ artist.name }}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ artist.name }}</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- artist -->

        <!-- albums -->
        <div *ngIf="showAlbums && selectedArtist" class="card mt-4">
          <div class="card-header">
            <h5>{{ selectedArtist.name }}'s Albums</h5>
            <button
              class="btn btn-sm btn-secondary float-right"
              (click)="deselect()"
            >
              Back to Artists
            </button>
          </div>
          <div class="card-body">
            <div class="row">
              <div
                class="col-md-6 col-lg-4 mb-4"
                *ngFor="let album of selectedArtist.albums"
                (click)="selectAlbum(album)"
              >
                <div class="card">
                  <img
                    class="card-img-top"
                    [src]="album.coverBig"
                    alt="{{ album.title }}"
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{ album.title }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- albums -->

        <!-- tracks -->
        <div *ngIf="showTracks && selectedAlbum" class="card mt-4">
          <div class="card-header">
            <h5>{{ selectedAlbum.title }}</h5>
            <button
              class="btn btn-sm btn-secondary float-right"
              (click)="deselect()"
            >
              Back to Albums
            </button>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item"
                *ngFor="let track of selectedAlbum.tracks"
              >
                {{ track.title }} - {{ track.duration }} seconds
                <audio controls>
                  <source [src]="track.preview" type="audio/mpeg" />
                  Your browser does not support the audio element.
                </audio>
              </li>
            </ul>
          </div>
        </div>
        <!-- tracks -->
      </div>

      <div class="d-none d-sm-block col-sm-2 bg-black">
        <div class="sticky-top z-3 bg-black">
          <div class="d-flex justify-content-between align-items-center my-2">
            <p class="mb-0">Attività amici</p>
            <div class="d-flex align-items-center gap-1">
              <i class="bi bi-person-add"></i>
              <i class="bi bi-x fs-5"></i>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-start mt-4">
            <div class="d-flex gap-2">
              <img
                src="/assets/artistiImg/10.jpg"
                class="profile-picture"
              />
              <div class="d-flex flex-column gap-1">
                <h4 class="fs-6 mb-0">yohannes</h4>
                <p class="mb-0 my-font-size">Yo </p>
                <p class="mb-0 my-font-size">
                  <i class="bi bi-music-note-beamed pe-2"></i>Se ne va - Nayt
                </p>
                <p>You dont have any friends</p>
              </div>
            </div>
            <p class="mb-0 my-font-size">4 ore</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer
    class="sticky-bottom d-flex justify-content-between bg-dark z-3 px-3 py-1 text-white align-items-center"
  >
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex gap-2 align-items-center">
        <img id="img-bar" src="./assets/imgs/profile/yolumy.webp" />
        <div class="d-flex flex-column">
          <h4 id="title" class="fs-6 mb-0">aaaaaa</h4>
          <p id="author" class="mb-0 my-font-size">aaaaa</p>
        </div>
      </div>
      <i class="bi bi-heart ps-3"></i>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center gap-3">
        <i class="bi bi-shuffle text-success"></i>
        <i class="bi bi-skip-start-fill fs-3"></i>
        <i class="bi bi-play-circle-fill fs-1"></i>
        <i class="bi bi-skip-end-fill fs-3"></i>
        <i class="bi bi-arrow-repeat text-success"></i>
      </div>
      <div class="d-flex align-items-center mediaplayer">
        <span class="pe-3">3</span>
        <div id="myProgress">
          <div id="myBar" class="bg-success"></div>
        </div>
        <span class="ps-3">3</span>
      </div>
    </div>
    <div>
      <i class="bi bi-mic ps-2"></i>
      <i class="bi bi-menu-button-wide ps-2"></i>
      <i class="bi bi-music-player ps-2"></i>
      <i class="bi bi-volume-up ps-2"></i>
      <input
        type="range"
        min="0"
        max="100"
        aria-label="range"
        class="progress-bar"
        step="1"
      />
      <i class="bi bi-arrows-angle-expand ps-2"></i>
    </div>
  </footer>
</body>
