body{
  margin-top: 120px;
  .titolo{
    font-size: 1.7rem;
    text-align: center;
    margin-top: 20px;
    color: black;
  }
}
.central-part{
  i{
      font-size: 20px;
  }
}
.rettangolo{
  background-color: black !important;
  height: 150px;
  color: black;
  position: fixed;
}
.left-bar {
    max-height: 70%;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.my-font-size {
    font-size: 0.7rem;
}

#img-bar {
    @extend .profile-picture;
    border-radius: 0;
}

#myProgress {
    width: 300%;
    height: 5px;
    border-radius: 10px;
    background-color: grey;
}

#myBar {
    width: 1%;
    height: 5px;
    border-radius: 10px;
}

.mediaplayer {
    width: 300%;
}

.progress-bar {
    display: inline-block;
    height : 10px;
    width: 100px;
    border: 2px solid gray;
}
input[type="range"] {
    accent-color: white;
}

.left-bar {
  max-height: calc(100vh - 120px); /* Imposta l'altezza massima per il menu laterale */
  overflow-y: auto; /* Abilita lo scroll se il contenuto supera l'altezza massima */
}

.bg-black {
  background-color: black;
}

.sticky-top {
  position: sticky;
  top: 120px; /* Altezza dell'header che vuoi lasciare libera sopra il menu */
  z-index: 3; /* Assicura che sia visibile sopra altri elementi */
}










